{% extends "base.html" %} 

{% block title %} Boards {% endblock %} 

{% block content %}
<ol class="breadcrumb my-4">
    <li class="breadcrumb-item active">
        <h1>Boards</h1>
    </li>
</ol>



<table class="table" border="1">
    <thead class="thead-dark">
        <tr>
            <th>Board</th>
            <th>Posts</th>
            <th>Topics</th>
            <th>Last Post</th>
        </tr>
    </thead>
    <tbody>
        {% for board in boards %}
        <tr>
            <td>
                {{ board.name }}
                <br>
                <small class="text-muted d-block" style="color: #888">{{ board.description }}</small>
            </td>
            <td class='align-middle'>0</td>
            <td class="align-middle">0</td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}