{% extends "base.html" %}

{% load widget_tweaks %}


{% block title %}
    New Topic
{% endblock  %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
<li class="breadcrumb-item"><a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a></li>
<li class="breadcrumb-item active">New Topic</li>

{% endblock  %}


{% block content %}
<!-- NEW Django Forms API form-->
<form action="" method="post" novalidate>
    {% csrf_token %}

    {% for field in form %}
    <div class="form-group">
        {{ field.label_tag }}
        
        <!-- IF THE FORM HAS DATA BOUND TO IT CHECK FOR ERRORS-->
        {% if form.is_bound %}
          <!-- GENERATE FIELD AS RED AND DISPLAY ERRORS -->
            {% if field.errors %}
                {% render_field field class="form-control is-invalid"%}
                {% for error in field.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
            
            <!-- OTHERWISE GENERATE THE FORM FIELD AS GREEN -->
            {% else %}
               {% render_field field class="form-control is-valid" %}
            {% endif %}
        
        <!-- IF THE FORM DOESNT HAVE DATA BOUND TO IT RENDER FIELDS WITHOUT HIGHLIGHTING-->
        {% else %}
            {% render_field field class="form-control" %}
        {% endif %}

        <!-- STYLE FOR HELP_TEXT IF ANY-->
        {% if field.help_text %}
        <small class="form-text text-muted">
            {{ field.help_text}}
        </small> 
        {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-success px-4">Post</button>
</form>
{% endblock %}


<!-- OLD FORM 
    <form method="POST" id="new-topic-form" class="form-new-topic"action="">
    {% csrf_token %}
    <div class="form-group">
        <label for="subject">Subject</label>
        <input name="subject" class="form-control" id="subject" type="text" placeholder="Subject of New Topic">
    </div>
    <div class="form-group">
        <label for="message">Message</label>
        <textarea name="message" class="form-control" id="message" type="textbox" placeholder="Insert Message Here"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Post</button>
</form>
--> 

    