{% extends "base_accounts.html" %}


{% block title %}
    Reset Your Password
{% endblock  %}


{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="card shadow">
            <div class="card-body">
                <h3 class="card-title">Reset your password</h3>
                <small class="text-muted mb-4">Enter your email address to receive a password reset link</small>
                <form class="mt-2" action="" novalidate method="post">
                    {% csrf_token %}
                    {% include "includes/form.html" %}
                    <button type="submit" class="btn btn-block btn-success">
                        Send Password Reset Email
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock  %}
    