<p> Somebody, (hopefully you) has reqeusted a new password for the Django Boards user: {{ user.username }} email: {{ email }}.</p>

<p>You can reset your password by clicking the link below</p>
<p>{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>

<p>If clicking the link above doesn't work, please copy and paste the URL into a new browser window</p>

<p>If you did not initiate this request, it may be that another user entered your email by mistake when attempting to reset a password. If you believe this to be the case you don't need to take any further action and can safely disregard this email.</p>

<p>Thanks,</p>
<p>The Team at Django Boards</p>