{% extends "base.html" %}


{% block title %}
    Password Change Successful!
{% endblock  %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'password_reset' %}">Change Password</a></li>
<li class="breadcrumb-item active">Success</li>
{% endblock  %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8, col-sm-10">
        <div class="card shadow">
            <div class="card-body">
                <div class="alert alert-success" role="alert">
                    <strong>Success!</strong> Your Password has been changed
                </div>
                <a class="btn btn-secondary" href="{% url 'home' %}">Back to Home Page</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock  %}