{% extends "base.html" %}

{% block title %}
  Confirm Password Reset
{% endblock  %}

{% block breadcrumbs %}
<li class="breadcrumb-item active">Change Password</li>
{% endblock  %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card">
                <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {% include "includes/form.html" %}
                        <button type="submit" class="btn btn-primary btn-block">
                            Change Password
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}
    