{% extends "base_accounts.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
        <div class="card shadow">
            <div class="card-body">
                <h3 class="card-title text-center">Sign Up</h3>
                <form action="" method="POST" class="form-group">
                    {% csrf_token %}
                    {% include "includes/form.html" %}
                    <input type="submit" class="btn btn-primary" value="Create an Account">
                </form>
            </div>
            <div class="card-footer text-muted text-center">
                Already have an account?
                <a href="{% url 'login' %}">Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock  %}
    